.box1{
  background-color: aqua;
  border-color: blue;
  color:blue;
  font-family: "Rubik Glitch Pop", system-ui;
  
}
.box2{
  background-color: blue;  
  border-color: rgb(119, 255, 0);
  color:rgb(255, 0, 13);
  font-family: "Sofia", sans-serif;
  
}
.box3{
  background-color:gold; 
  border-color: rgb(255, 55, 0);
  color:rgb(61, 70, 61);
  font-family: "Rubik Glitch Pop", system-ui;
  
}
.box4{
   background-color: coral;
   border-color: rgb(255, 0, 132);
   color:rgb(51, 255, 0);
   font-family: "Rubik Glitch Pop", system-ui;
   
}
.rubik-glitch pop-regular {
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-family: "Rubik Glitch Pop", system-ui;
  }
  .c{
    font-family: "Rubik Glitch Pop", system-ui;
  }
  